.Team-banner {
  background-position: center;
  background-size: 450px auto;
}

@media (min-width: 1024px) {
  .Team-banner {
    background-position: 660px center;
    background-size: 600px auto;
  }
}
