.slick-dots li button:before {
  font-size: 10px;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: #0feb87;
}

.slick-slide {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.slick-center {
  opacity: 1 !important;
  transform: translateY(-50px);
  transition: transform 0.3s ease;
}

@media (max-width: 1024px) {
  .slick-slide {
    opacity: 1;
  }
}
@media (min-width: 1921px) {
  .pic-designation-box {
    height: 80px;
    width: 260px;
    font-size: 20px;
  }
  .img {
    height: 55px;
    width: 55px;
  }
  .description-box {
    height: 340px;
    width: 300px;
    padding-top: 50px;
    font-size: 20px;
  }
}
