.contact-banner {
  background-position: center;
  background-size: 200px auto;
}

@media (min-width: 1024px) {
  .contact-banner {
    background-position: 650px 100px;
    background-size: 550px auto;
  }
}
