.work-banner {
  background-position: center;
  background-size: 560px auto;
  background-position: -70px center;
}

@media (min-width: 1024px) {
  .work-banner {
    background-position: 600px center;
    background-size: 850px auto;
  }
}
