.work-banner {
  background-position: center;
  background-size: 300px auto;
}

@media (min-width: 1024px) {
  .work-banner {
    background-position: 700px center;
    background-size: 650px auto;
  }
}
