.work-banner {
  background-position: center;
  background-size: 760px auto;
  background-position: -100px center;
}

@media (min-width: 1024px) {
  .work-banner {
    background-position: 600px center;
    background-size: 850px auto;
  }
}
