.bgImg {
  background-size: contain;
  background-position: right center;
  object-fit: cover;
}
@media (max-width: 767px) {
  .bgImg {
    background-size: 570px;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .bgImg {
    background-size: 1100px;
  }
  .bricolage-grotesque-baseTextFont {
    font-size: 65px;
  }
}
@media (min-width: 800px) and (max-width: 1020px) {
  .bgImg {
    background-size: 1300px;
  }
  .bricolage-grotesque-baseTextFont {
    font-size: 65px;
  }
}
@media (min-width: 1021px) and (max-width: 1200px) {
  .bgImg {
    background-size: 1450px;
  }
  .bricolage-grotesque-baseTextFont {
    font-size: 80px !important;
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .bgImg {
    background-size: contain auto;
  }
}

/* Medium Screens (21-inch monitors) */
@media (min-width: 1441px) and (max-width: 1757px) {
  /* Styles for 21-inch monitors */

  .bgImg {
  }
  .bricolage-grotesque-baseTextFont {
    font-size: 65px;
  }
}

/* Large Screens (24-inch monitors) */
@media (min-width: 1758px) and (max-width: 2006px) {
  /* Styles for 24-inch monitors */
  .bgImg {
    /* background-size: 1750px auto; */
  }
  .bricolage-grotesque-baseTextFont {
    font-size: 85px;
  }
}
