.bgImg {
  background-size: 950px auto;
  background-position: center -250px;
}

/* Medium Screens (1367px to 1920px wide) */
@media (min-width: 768px) and (max-width: 1440px) {
  /* Styles for 21-inch monitors and Full HD 24-inch monitors */
  .bgImg {
    background-size: 1350px auto;
    background-position: center -250px;
  }
  .bricolage-grotesque-baseTextFont {
    font-size: 65px;
  }
}

/* Medium Screens (21-inch monitors) */
@media (min-width: 1441px) and (max-width: 1757px) {
  /* Styles for 21-inch monitors */

  .bgImg {
    background-size: 1130px auto;
    background-position: right -220px center;
  }
  .bricolage-grotesque-baseTextFont {
    font-size: 65px;
  }
}

/* Large Screens (24-inch monitors) */
@media (min-width: 1758px) and (max-width: 2006px) {
  /* Styles for 24-inch monitors */
  .bgImg {
    background-size: 1750px auto;
    background-position: right -350px center;
  }
  .bricolage-grotesque-baseTextFont {
    font-size: 85px;
  }
}

/* Extra Large Screens (larger than 24-inch monitors) */
/* @media (min-width: 2007px) {
} */
